# looping

In [5]:
def vishw(n):
    
    for i in range (n):
        for j in range (0 , i+1):
            print("1 " ,end ='  ')
        print("\r")

In [6]:
vishw(5)

1
1   1
1   1   1
1   1   1   1
1   1   1   1   1

In [7]:
vishw(15)

1
1   1
1   1   1
1   1   1   1
1   1   1   1   1
1   1   1   1   1   1
1   1   1   1   1   1   1
1   1   1   1   1   1   1   1
1   1   1   1   1   1   1   1   1
1   1   1   1   1   1   1   1   1   1
1   1   1   1   1   1   1   1   1   1   1
1   1   1   1   1   1   1   1   1   1   1   1
1   1   1   1   1   1   1   1   1   1   1   1   1
1   1   1   1   1   1   1   1   1   1   1   1   1   1
1   1   1   1   1   1   1   1   1   1   1   1   1   1   1

# string

In [8]:
x = 'hello world'
print(x)
print(type(x))

hello world
<class 'str'>

In [9]:
print(len(x))

11

In [12]:
X = """
uhu
ufhefi
iffi
saioJO
"""
print(X)
print(type(X))

uhu
ufhefi
iffi
saioJO

<class 'str'>

### Access/index

In [20]:
x = 'hello world'
print(x[0])
print(x[1])
print(x[2])
print(x[10])
print(x[-1])
print(x[-5])
print(x[-11])

h
e
l
d
d
w
h

In [21]:
print(x[1:4])  # [start:end]

ell

In [22]:
print(x[:6])

hello

In [23]:
print(x[5:])

 world

In [26]:
print(x[-5:])

world

In [27]:
x

'hello world'

In [28]:
print(x[-8:-4])

lo w

In [29]:
print(x[:])

hello world

In [30]:
print(x[::2])  # [start:end:step]

hlowrd

In [31]:
print(x[::3])

hlwl

In [32]:
print(x[::-1])

dlrow olleh

In [9]:
x = 'Municipal Corp result: As the vote counting'
# tluser
y = x[-28:-22]
print(y[::-1])

tluser

In [16]:
z= x.split()
print(z[2])

result:

# modify

In [50]:
x = 'hello world'
print(x.upper())

HELLO WORLD

In [51]:
x = 'HELLO WORLD'
print(x.lower())

hello world

In [54]:
x = '               hello world             '
print(x)
print(x.strip())
print(x.lstrip())
print(x.rstrip())

               hello world
hello world
hello world
               hello world

In [55]:
x = 'hello world'
print(x.split())

['hello', 'world']

In [56]:
print(x.split('l'))

['he', '', 'o wor', 'd']

In [59]:
x = 'hello world'
print(x.center(50))

                   hello world

In [44]:
x = 'hello'
print(x.replace('h','gugutu'))

gugutuello

In [51]:
x = 'hello'
y = x.index('l')
print(y)

2

In [52]:
x = 'hello'
y = x.count('l')
print(y)

2

### loop

In [1]:
# loop : while, for

In [7]:
x = 'hello world'

i= 0

while i < len(x):  #  11 < 11
    print(x[i])       #  10
    i = i+1        #  10+1

h
e
l
l
o

w
o
r
l
d

In [9]:
x= 'hello world'
for i in x:
    print(i.upper())

H
E
L
L
O

W
O
R
L
D

In [12]:
x = 'hello'
y = 'world'
print(x+y)
print(x+' '+y)
print(x,y)

helloworld
hello world
hello world

In [15]:
x = 'hello'
x

'hello'

### escape

In [16]:
# \',\",\\,\n,\r,\b,\t

In [21]:
x = 'it\'s'
x
print(x)

it's

In [22]:
x

"it's"

In [25]:
x = "hello \"hi\" world"
print(x)

hello "hi" world

In [27]:
x = 'hello\\world'
print(x)

hello\world

In [28]:
x = 'hello\nworld'
print(x)

hello
world

In [29]:
x = 'hello\rworld'
print(x)

world

In [34]:
x = 'hello\t\tworld'
print(x)

hello		world

In [35]:
x ='hello  \b\bworld'
print(x)

hello  world

### format

In [37]:
x = 'fqwf'
a= 'jfijfjfiofjojf'+x
print(a)

jfijfjfiofjojffqwf

In [38]:
x = 100
a = 'fuhhg viiowej {}'
print(a.format(x))

fuhhg viiowej 100

In [39]:
x = 100
y = 200
z = 300
a = 'fhfhf {} ojojgo {} jojsadd {}'
print(a.format(x,y,z))

fhfhf 100 ojojgo 200 jojsadd 300

In [40]:
x = 100
y = 200
z = 300
a = 'fhfhf {} ojojgo {} jojsadd {}'
print(a.format(y,x,z))

fhfhf 200 ojojgo 100 jojsadd 300

In [41]:
x = 100
y = 200
z = 300
a = 'fhfhf {1} ojojgo {0} jojsadd {2}'
print(a.format(x,y,z))

fhfhf 200 ojojgo 100 jojsadd 300

In [1]:
x = 'Municipal Corp result: As the vote counting'
y= x.split()
print(y[4])

the

In [11]:
def mayank(n):
    for i in range(0,n):
        for j in range(0,i+1):
            print("$", end = " ")
        print("\r")
mayank(10)
    
#n= 7

$
$ $
$ $ $
$ $ $ $
$ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $ $ $
$ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $

arithmetric
assignment
compairision
logical
identity
membership

In [12]:
# arithmetric  : +,-,*,/,%,**,//

In [14]:
x = 10
y = 20
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x**y)

30
-10
200
0.5
10
100000000000000000000

In [16]:
x = 11
y = 2
print(x/y) 
print(x//y)

5.5
5

In [17]:
# assignment : +,-,*,/,%,**,//

In [18]:
x = 10
x+=20  # x = x+20
x

30

In [19]:
x = 10
x-=5
x

5

In [20]:
x = 10
x*=2
x

20

In [21]:
x=10
x/=5
x

2.0

In [22]:
x = 10
x%=3
x

1

In [23]:
x = 10
x**=2
x

100

In [24]:
x =11
x//=3
x

3

In [25]:
# comparision : ==,!=,<,>,<=,>=

In [26]:
x = 10
y = 10
print(x==y)

True

In [27]:
print(x!=y)

False

In [28]:
print(x<y)

False

In [29]:
print(x>y)

False

In [30]:
print(x<=y)

True

In [31]:
print(x>=y)

True

In [32]:
# logical : and,or,not

In [33]:
x = 10
y =20
print(x<y and x>y)

False

In [34]:
print(x<y or x>y)

True

In [35]:
print(not(x<y and x>y))

True

In [36]:
print(not(x<y or x>y))

False

In [37]:
# identity  : is, is not

In [38]:
x = 10
y = 20
z = x
print(x is y)

False

In [39]:
print(x is z)

True

In [40]:
print(x is not y)

True

In [41]:
print(x is not z)

False

In [42]:
# membership : in , not in

In [43]:
x = 'hello'
print('h' in x)

True

In [44]:
print('a' in x)

False

In [45]:
print('h' not in x)

False

In [46]:
print('a' not in x)

True

# List

In [4]:
x = ['Mango',1,1.3,9+6j,True]
x

['Mango', 1, 1.3, (9+6j), True]

In [10]:
x =[10,20,30,40,50,60]
print(x[4])
print(x[::3])
print(x[3:5])
print(x[::-2])

50
[10, 40]
[40, 50]
[60, 40, 20]

In [11]:
# change

In [13]:
x =[10,20,30,40,50,60]
x [2]=299
x

[10, 20, 299, 40, 50, 60]

In [14]:
# add : append,insert,extend

In [15]:
x =[10,20,30,40,50,60]
x.append(69)
x

[10, 20, 30, 40, 50, 60, 69]

In [16]:
x =[10,20,30,40,50,60]
x.insert(3,78)
x

[10, 20, 30, 78, 40, 50, 60]

In [20]:
x =[10,20,30,40,50,60]
y =[80,90,100]
y.extend(x)
y

[80, 90, 100, 10, 20, 30, 40, 50, 60]

In [21]:
# pop,del,clear,remove

In [23]:
x =[10,20,30,40,50,60]
x.pop(2)
x

[10, 20, 40, 50, 60]

In [25]:
x.remove(x[2])
x

[10, 20, 60]

In [28]:
x =[10,20,30,40,50,60]
del x[4]
x

[10, 20, 30, 40, 60]

In [29]:
x.clear()
x

[]

In [30]:
x.append(200)
x

[200]

In [32]:
x.insert(30,40)
x

[200, 40]

In [33]:
x.clear()
x

[]

In [37]:
y =[20,30,40,50]
x.extend(y)
x

[20, 30, 40, 50]

In [39]:
x =[10,20,30,40,50,60]
x.reverse()
x

[60, 50, 40, 30, 20, 10]

In [40]:
x = [30,50,10,60,20,90,120,70]
x.sort()
x

[10, 20, 30, 50, 60, 70, 90, 120]

In [44]:
x = [30,50,10,60,20,90,120,70]
x.sort(reverse=True)
x

[120, 90, 70, 60, 50, 30, 20, 10]

In [7]:
x =[10,20]
y = [30,40]
z= [50,60]

# [[10,20],[30,40],[50,60]]
# [10,20,30,40,50,60]
print(x,y,z)
print(x+y+z)

[10, 20] [30, 40] [50, 60]
[10, 20, 30, 40, 50, 60]

In [23]:
x =[10,20]
y = [30,40]
z= [50,60]
t=[]
for i in x,y,z:
    t.append(i)
print(t)

[[10, 20], [30, 40], [50, 60]]

In [37]:
x =[10,20]
y = [30,40]
z= [50,60]
t=[]
for i in x,y,z:
    t.extend(i)
print(t)

[10, 20, 30, 40, 50, 60]

In [49]:
x =[10,20]
y = [30,40]
z= [50,60]
t=[]
for i in x,y,z:
    t.insert(1+2+3,i)
print(t)

[[10, 20], [30, 40], [50, 60]]

In [55]:
x =[10,20]
y = [30,40]
z= [50,60]
t=[]

for i in x,y,z:
    for j in i:
        t.append(j)
print(t)

[10, 20, 30, 40, 50, 60]

In [54]:
x =[10,20]
y = [30,40]
z= [50,60]
t=[]

for i in x,y,z:
    print(i)

[10, 20]
[30, 40]
[50, 60]

In [58]:
x=20
print(x*x)
print(x**2)

400
400

In [63]:
x = [10,20,30,40,50,60,70]
for i in x:
    print(i**2)

100
400
900
1600
2500
3600
4900

In [71]:
t=[]
for i in range(1,31):
    print(i**2)
    t.append(i)
    print(t)

1
[1]
4
[1, 2]
9
[1, 2, 3]
16
[1, 2, 3, 4]
25
[1, 2, 3, 4, 5]
36
[1, 2, 3, 4, 5, 6]
49
[1, 2, 3, 4, 5, 6, 7]
64
[1, 2, 3, 4, 5, 6, 7, 8]
81
[1, 2, 3, 4, 5, 6, 7, 8, 9]
100
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
121
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
144
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
169
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
196
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
225
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
256
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
289
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
324
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
361
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
400
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
441
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]
484
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]
529
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
576
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
625
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
676
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26]
729
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27]
784
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28]
841
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
900
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [75]:
t=[]
for i in range(1,31):
    y = i**2
    print(y)
    t.append(y)
print(t)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [77]:
print(t[0:5])

[1, 4, 9, 16, 25]

In [80]:
print(t[-5:])

[676, 729, 784, 841, 900]

# tuple

In [1]:
x = ('apple',12,1.3,True)
print(x)
print(type(x))

('apple', 12, 1.3, True)
<class 'tuple'>

In [2]:
print(len(x))

4

In [3]:
print(1.3 in x)

True

In [4]:
# Access/ index

In [16]:
x=(10,20,30,40,50,60,70)
print(x[0])
print(x[1])
print(x[6])
print(x[2:6])
print(x[2:])
print(x[:5])
print(x[-1])
print(x[-7])
print(x[-7:-3])
print(x[::2])
print(x[::-1])

10
20
70
(30, 40, 50, 60)
(30, 40, 50, 60, 70)
(10, 20, 30, 40, 50)
70
10
(10, 20, 30, 40)
(10, 30, 50, 70)
(70, 60, 50, 40, 30, 20, 10)

In [17]:
# change

In [2]:
x = (10,20,30,40,50,60)
y = list(x)
y[0] = 100
x = tuple(y)
x

(10, 20, 30, 40, 50, 60)

In [21]:
x = (10,20,30,40,50)
y = list(x)
y[1:3] = [100,200]
x = tuple(y)
x

(10, 100, 200, 40, 50)

In [22]:
# add :append,insert,extend

In [23]:
x = (10,20,30,40)
y = list(x)
y.append(100)
x = tuple(y)
x

(10, 20, 30, 40, 100)

In [24]:
x = (10,20,30,40)
y = list(x)
y.insert(3,100)
x = tuple(y)
x

(10, 20, 30, 100, 40)

In [30]:
x = (10,20,30,40)
y = (50,60,70)
z  = list(x)
z.extend(y)
x = tuple(z)
x

(10, 20, 30, 40, 50, 60, 70)

In [31]:
x = (10,20,30,40)
y = [50,60,70]
z  = list(x)
z.extend(y)
x = tuple(z)
x

(10, 20, 30, 40, 50, 60, 70)

In [32]:
x = (10,20,30,40)
y = {50,60,70}
z  = list(x)
z.extend(y)
x = tuple(z)
x

(10, 20, 30, 40, 50, 60, 70)

In [34]:
# remove : remove,pop,del,clear

In [35]:
x = (10,20,30,40)
y = list(x)
y.remove(20)
x = tuple(y)
x

(10, 30, 40)

In [36]:
x = (10,20,30,40)
y = list(x)
y.pop(0)
x = tuple(y)
x

(20, 30, 40)

In [37]:
x = (10,20,30,40)
y = list(x)
y.pop()
x = tuple(y)
x

(10, 20, 30)

In [38]:
x = (10,20,30,40)
y = list(x)
del y[0]
x = tuple(y)
x

(20, 30, 40)

In [39]:
x = (10,20,30,40)
y = list(x)
y.clear()
x = tuple(y)
x

()

In [40]:
# unpack

In [41]:
x = (10,20,30)
a,b,c = x
print(a)
print(b)
print(c)

10
20
30

In [44]:
x = (10,20,30,40,50,60)
a,b,*c = x
print(a)
print(b)
print(c)

10
20
[30, 40, 50, 60]

In [45]:
x = (10,20,30,40,50,60)
a,*b,c = x
print(a)
print(b)
print(c)

10
[20, 30, 40, 50]
60

In [46]:
x = (10,20,30,40,50,60)
*a,b,c = x
print(a)
print(b)
print(c)

[10, 20, 30, 40]
50
60

In [47]:
# loop

In [49]:
x = (10,20,30,40,50,60)

i = 0
while i < len(x):
    print(x[i])
    i = i + 1

10
20
30
40
50
60

In [50]:
x = (10,20,30,40,50,60)
for i in x:
    print(i)

10
20
30
40
50
60

In [51]:
# join

In [52]:
x = (10,20,30)
y = (40,50,60)
print(x+y)

(10, 20, 30, 40, 50, 60)

# range

In [53]:
x = range(10)
x

range(0, 10)

In [54]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [56]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [57]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

# set

In [1]:
x= {1,2,3,4,5,6}
x

{1, 2, 3, 4, 5, 6}

In [2]:
print(type(x))
print(len(x))

<class 'set'>
6

In [3]:
x = {4,2,4,6,7,8,9,2,3,4,4,4,4,4}
x

{2, 3, 4, 6, 7, 8, 9}

In [4]:
x = [35,24,64,678,45,35,35,21,70]
print(set(x))

{64, 35, 678, 70, 45, 21, 24}

In [5]:
# add : add,update

In [6]:
x = {12,43,56,45,32,89,54}
x.add(100)
x

{12, 32, 43, 45, 54, 56, 89, 100}

In [7]:
x = {10,30,40,20}
y = {70,90,80,50}
x.update(y)
x

{10, 20, 30, 40, 50, 70, 80, 90}

In [10]:
x = {10,30,40,20}
y = {70,90,80,50}
z = x.union(y)
z

{10, 20, 30, 40, 50, 70, 80, 90}

In [11]:
# remove : remove,discard,clear

In [12]:
x = {12,34,21,56,43,78}
x.remove(21)
x

{12, 34, 43, 56, 78}

In [13]:
x = {12,34,21,56,43,78}
x.discard(21)
x

{12, 34, 43, 56, 78}

In [14]:
x = {12,34,21,56,43,78}
x.clear()
x

set()

In [16]:
# loop  : for

In [17]:
x = {12,34,21,56,43,78}

for i in x:
    print(i)

34
21
56
43
12
78

In [18]:
x

{12, 21, 34, 43, 56, 78}

In [26]:
y = []

for i in x:
    if i%2==0:
        y.append(i)
print(set(y))

{56, 34, 12, 78}

In [28]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}

z = a.difference(b)
z

{1, 2, 3}

In [29]:
b.difference_update(a)
b

{6, 7, 8}

In [30]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}

z = a.intersection(b)
z

{4, 5}

In [31]:
b.intersection_update(a)
b

{4, 5}

In [32]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}

z = a.symmetric_difference(b)
z

{1, 2, 3, 6, 7, 8}

In [33]:
b.symmetric_difference_update(a)
b

{1, 2, 3, 6, 7, 8}

In [37]:
x = {1,2,3}
y = {1,2,3,4,5,6}


z= x.issubset(y)
z

True

In [39]:
x = {1,2,3,4,5,6,7}
y = {1,2,3}

z = x.issuperset(y)
z

True

In [40]:
y = {1,2,3}
x = {4,5,6}
print(x.union(y))

{1, 2, 3, 4, 5, 6}

In [41]:
x = {1,2,3}
y = {1,2,3,4,5,6}
x.union(y)

{1, 2, 3, 4, 5, 6}

In [43]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

# dict

In [1]:
x = {'a':1,'b':2,'c':3}
print(x)
print(type(x))
print(len(x))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>
3

In [2]:
x.keys()

dict_keys(['a', 'b', 'c'])

In [3]:
x.values()

dict_values([1, 2, 3])

In [4]:
x.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [5]:
# Access

In [7]:
x = {'a':1,'b':2,'c':3}
print(x['b'])

2

In [8]:
# change

In [9]:
x = {'a':1,'b':2,'c':3}
x['c']=10
x

{'a': 1, 'b': 2, 'c': 10}

In [10]:
# add

In [11]:
x = {'a':1,'b':2,'c':3}
x['d'] = 20
x

{'a': 1, 'b': 2, 'c': 3, 'd': 20}

In [12]:
x = {'a':1,'b':2,'c':3}
x.update({'e':30})
x

{'a': 1, 'b': 2, 'c': 3, 'e': 30}

In [13]:
# remove : pop,popitem,del,clear

In [14]:
x = {'a':1,'b':2,'c':3}
x.pop('b')
x

{'a': 1, 'c': 3}

In [18]:
x = {'a':1,'b':2,'c':3}
del x['b']
x

{'a': 1, 'c': 3}

In [19]:
x = {'a':1,'b':2,'c':3}
x.clear()
x

{}

In [20]:
# loop : for

In [21]:
x = {'a':1,'b':2,'c':3}
for i in x:
    print(i)

a
b
c

In [22]:
x = {'a':1,'b':2,'c':3}
for i in x.keys():
    print(i)

a
b
c

In [23]:
x = {'a':1,'b':2,'c':3}
for i in x.values():
    print(i)

1
2
3

In [24]:
x = {'a':1,'b':2,'c':3}
for i in x.items():
    print(i)

('a', 1)
('b', 2)
('c', 3)

In [25]:
x = {'a':1,'b':2,'c':3}
for i,j in x.items():
    print(i,j)

a 1
b 2
c 3

In [26]:
# nasted

In [27]:
x = { 'a': {'q':1,'w':2}, 'b': {'e':3,'r':4}, 'c': {'t':5,'y':6}}
x

{'a': {'q': 1, 'w': 2}, 'b': {'e': 3, 'r': 4}, 'c': {'t': 5, 'y': 6}}

In [28]:
x.keys()

dict_keys(['a', 'b', 'c'])

In [29]:
x.values()

dict_values([{'q': 1, 'w': 2}, {'e': 3, 'r': 4}, {'t': 5, 'y': 6}])

In [33]:
for i in x.items():
    print(i)

('a', {'q': 1, 'w': 2})
('b', {'e': 3, 'r': 4})
('c', {'t': 5, 'y': 6})

In [36]:
x = { 'a': {'a':1,'b':2}, 'b': {'e':3,'r':4}, 'c': {'t':5,'y':6}}
x

{'a': {'a': 1, 'b': 2}, 'b': {'e': 3, 'r': 4}, 'c': {'t': 5, 'y': 6}}

In [37]:
# {1:1,2:4,3:9,4:16,5:25}

In [42]:
x = range(16)
print(x)

range(0, 16)

In [68]:
x= {}

for i in range(1,16):
    x[i] = i**2
print(x)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [98]:
y = list(x)
y

[1, 2, 3, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [99]:
print(y[:5])

[1, 2, 3, 6, 7]

In [107]:
y = list(dict.items(x))
print(y[:5])

[(1, 1), (2, 4), (3, 9), (6, 36), (7, 49)]

In [109]:
print(y[-5:])

[(11, 121), (12, 144), (13, 169), (14, 196), (15, 225)]

# if else

In [1]:
x = 10

if x<20:
    print('y')

y

In [2]:
x = 10

if x<2:
    print('y')
else:
    print('n')

n

In [3]:
x = 10

if x<2:
    print('y')
elif x>5:
    print('yy')
else:
    print('n')

yy

In [4]:
x = 10

if x<2:
    print('y')
elif x>15:
    print('yy')
else:
    print('n')

n

In [5]:
x = 10

if x<2:
    print('y')
elif x>15:
    print('yy')
elif x<=10:
    print('yyy')
else:
    print('n')

yyy

In [6]:
x = 10

if x<20 and x>3:
    print('y')
else:
    print('n')

y

In [8]:
x = 10

if x>20 and x>3 and x<=10:
    print('y')
else:
    print('n')

n

In [9]:
x = 10

if x>20 or x>3:
    print('y')
else:
    print('n')

y

In [10]:
x = 10

if x>20 or x<3:
    print('y')
else:
    print('n')

n

In [11]:
x = 10

if x>20 or x>3 or x>=20:
    print('y')
else:
    print('n')

y

In [12]:
x = 10

if x<20:
    if x>5:
        print('y')

y

In [13]:
x = 10

if x<20:
    if x<5:
        print('y')
    else:
        print('n')

n

In [14]:
x = 10

if x>20:
    if x>5:
        print('y')
    else:
        print('n')
else:
    print('nn')

nn

In [15]:
x = 10

if x<20:
    print('yy')
    if x>5:
        print('y')
    else:
        print('n')
else:
    print('nn')

yy
y

In [29]:
x = "The quick brown fox jumps over the lazy dog"
y=x.split()
print(y[3])

fox

In [47]:
x = "The quick brown fox jumps over the lazy dog"
y=x.split()
len(y)
if len(y)>3:
    print('y')

y

In [48]:
x = str.split("The quick brown fox jumps over the lazy dog")
x

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [50]:
for i in x:
    if len(i)>4:
        print(i)

quick
brown
jumps

# loop

In [4]:
i  = 3

while i <= 10:
    print(i)
    i = i + 1

3
4
5
6
7
8
9
10

In [5]:
i = 1

while i < 10:
    print(i)
    if i == 5:
        break
    i = i + 1

1
2
3
4
5

In [6]:
i = 1

while i < 10:
    i = i + 1
    if i == 5:
        continue
    print(i)

2
3
4
6
7
8
9
10

In [7]:
i = 1

while i < 10:
    i = i + 1
    if i == 5:
        continue
    print(i)
else:
    print('yes')

2
3
4
6
7
8
9
10
yes

In [8]:
# for

In [9]:
x = [1,2,3,4,5,6,7,8,9]

for i in x:
    print(i)

1
2
3
4
5
6
7
8
9

In [11]:
x = [1,2,3,4,5,6,7,8,9]

for i in x:
    if i == 5:
        break
    print(i)

1
2
3
4

In [13]:
x = [1,2,3,4,5,6,7,8,9]


for i in x:
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [14]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [18]:
for i in range(1,10,3):
    print(i)

1
4
7

In [19]:
x = [1,2,3]
y = [10,20,30]

for i in x:
    for j in y:
        print(i,j)

1 10
1 20
1 30
2 10
2 20
2 30
3 10
3 20
3 30

In [20]:
x = [10,20,30,40,50,60]

for i in x:
    print(i)

10
20
30
40
50
60

In [21]:
x = [10,20,30,40,50,60]

y = [i for i in x]
y

[10, 20, 30, 40, 50, 60]

In [23]:
x = ['apple','banana','cherry','kiwi','orange']

y = [i.upper() for i in x]
y

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'ORANGE']

In [24]:
y = [i for i in range(1,20) if i%2 ==0]

In [25]:
y

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [26]:
x = ['apple','banana','cherry','kiwi']

y = [i if i!='apple' else 'orange' for i in x]
y

['orange', 'banana', 'cherry', 'kiwi']

In [30]:
y = [i for i in range(1,30) if i%2 ==0 and i%5==0]
y

[10, 20]

In [8]:
def myfun():
    x = [1,2,3]
    y = [10,20,30]
    z = x + y
    print(z)
myfun()
print(z)

[1, 2, 3, 10, 20, 30]

NameError: name 'z' is not defined

In [9]:
#local
def myfun1():
    x = 10
    print(x)
myfun1()

10

In [10]:
#Global
x = 20
def myfun1():
    x = 10
    print(x)
myfun1()
print(x)

10
20

In [11]:
dir (set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

# class/object

In [12]:
class Myclass1():
    x = 10
    y =20
    z =30

In [13]:
a = Myclass1()
print(a.x)

10

In [14]:
print(a.y)

20

In [15]:
print(a.z)

30

In [10]:
class Myclass2:
    
    def __init__(self,x,y):
        self.X = x
        self.Y = y
        
    def add(self):
        print(self.X+self.Y)
       
    def sub(self):
        print(self.X - self.Y)
        
    def mul(self):
        print(self.X * self.Y)
        
    def div(self):
        print(self.X/self.Y)

In [25]:
aa = Myclass2(10,20)
aa.add()

30

In [26]:
aa.sub()

-10

In [27]:
b = Myclass1()
b.z

30

In [32]:
class Myclass3:
    
    def __init__(self,name,age):
        self.N = name
        self.A = age
        
    def myfunc1(self):
        print('fhfhffhif',self.N ,'fihfioi',self.A)

In [33]:
aaa = Myclass3('Arpan',26)
aaa.myfunc1()

fhfhffhif Arpan fihfioi 26

In [43]:
class Myclass4:
    
    def __init__(self,x,y):
        self.X = x
        self.Y = y
        for i in x:
            for j in i:
                print(j)

In [44]:
a = Myclass4(2,3)
a

TypeError: 'int' object is not iterable

In [12]:
class Myclass5():
    def __init__(self,x,y):
        self.X = x
        self.Y = y
        
    def add1(self):
        print(self.X+self.Y)
       
    def sub2(self):
        print(self.X - self.Y)
        
class Myclass6(Myclass2):
    pass

In [13]:
a = Myclass6(10,20)
a.mul()

200

In [1]:
class Myclass7:
    def __init__(self,x,y):
        self.X = x
        self.Y = y
        
    def add1(self):
        print(self.X+self.Y)
       
    def sub2(self):
        print(self.X - self.Y)
        
class Myclass8(Myclass7):
    def __init__(self,x,y):
        Myclass7.__init__(self,x,y)
        
    def mul(self):
        print(self.X * self.Y)
        
    def div(self):
        print(self.X/self.Y)

In [2]:
a = Myclass8(13,21)
a.mul()

273

In [11]:
class Myclass9:
    def __init__(self,x,y):
        self.X = x
        self.Y = y
        
    def add1(self):
        print(self.X+self.Y)
       
    def sub2(self):
        print(self.X - self.Y)
        
class Myclass10(Myclass9):
    def __init__(self,x,y):
        super().__init__(x,y)
        
    def mul(self):
        print(self.X * self.Y)
        
    def div(self):
        print(self.X/self.Y)

In [13]:
a = Myclass10(13,21)
a.add1()

34

In [16]:
class Myclass11:
    def __init__(self,x,y):
        self.X = x
        self.Y = y
        
    def add1(self):
        print(self.X+self.Z)
       
    def sub2(self):
        print(self.X - self.Y)
        
class Myclass12(Myclass11):
    def __init__(self,x,y,z):
        Myclass11.__init__(self,x,y)
        self.Z = z
        
    def mul(self):
        print(self.X * self.Z)

In [17]:
aa = Myclass12(10,20,30)
aa.add1()

40

# Lambda

In [3]:
x = lambda a: a+10

In [4]:
print(x(15))

25

In [5]:
x = lambda a,b,c,d:a+b*c-d

In [6]:
print(x(4,6,7,9))

37

In [7]:
def myf(n):
    return lambda a : n*a

In [8]:
x = myf(3)
print(x(10))

30

# Scope

In [9]:
# local

def my():
    a = 10
    print(a)
my()

10

In [11]:
x = 15
def myfun():
    print(x)
myfun()
print(x)

15
15

In [13]:
def myfun():
    global x
    x = 20
    print(x)
myfun()
print(x)

20
20

In [3]:
x = [1,2,3]
y = tuple(x)
y

(1, 2, 3)

In [44]:
x = str.split("I love my India")
print(x)
for i in x:
    if len(i)>4:
        print(i) 
len(x)

['I', 'love', 'my', 'India']
India

4

In [45]:
a = 2
b = 5
c = 1

p = b+c
q = a+c
r = b+a

print(p,q,r)

6 3 7

In [2]:
import pandas as pd