Aa method normal distribution column hoy toj use karvu

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('placement.csv')
df

FileNotFoundError: [Errno 2] No such file or directory: 'placement.csv'

In [ ]:
plt.figure(figsize = (16,5))
plt.subplot(121)
sns.distplot(df['cgpa'])


plt.subplot(122)
sns.distplot(df['placement_exam_marks'])

plt.show()

In [ ]:
# z-sore only cgpa columns par use karay  kemke normal distribution chhe
# skewed distribution graph ma z-score use na thay

In [ ]:
print('Mean value of cgpa : ', df['cgpa'].mean())
print('Std value of cgpa : ', df['cgpa'].std())
print('Min value of cgpa : ', df['cgpa'].min())
print('Max value of cgpa : ', df['cgpa'].max())

In [ ]:
# Finding the boundary values

print('Highest allowed : ', df['cgpa'].mean() + 3*df['cgpa'].std())
print('Lowest allowed : ', df['cgpa'].mean() - 3*df['cgpa'].std())

In [ ]:
# Finding the outliers

df[(df['cgpa'] > 8.80) | (df['cgpa'] < 5.11)]

# Trimming

In [23]:
new_df = df[(df['cgpa'] < 8.80) & (df['cgpa'] > 5.11)]
new_df

         cgpa  placement_exam_marks  placed  cgpa_zscore
0    7.190000                  26.0       1     0.371425
1    7.460000                  38.0       1     0.809810
2    7.540000                  40.0       1     0.939701
3    6.420000                   8.0       1    -0.878782
4    7.230000                  17.0       0     0.436371
..        ...                   ...     ...          ...
993  6.730000                  21.0       1    -0.375452
994  6.480000                  63.0       0    -0.781363
997  5.113546                  34.0       0    -3.362960
998  8.620000                  46.0       1     2.693239
999  5.113546                  10.0       1    -3.346724

[998 rows x 4 columns]

In [9]:
# Approach 2
# Calculation the Zscore


df['cgpa_zscore'] = (df['cgpa'] - df['cgpa'].mean()) / df['cgpa'].std()
df

     cgpa  placement_exam_marks  placed  cgpa_zscore
0    7.19                  26.0       1     0.371425
1    7.46                  38.0       1     0.809810
2    7.54                  40.0       1     0.939701
3    6.42                   8.0       1    -0.878782
4    7.23                  17.0       0     0.436371
..    ...                   ...     ...          ...
995  8.87                  44.0       1     3.099150
996  9.12                  65.0       1     3.505062
997  4.89                  34.0       0    -3.362960
998  8.62                  46.0       1     2.693239
999  4.90                  10.0       1    -3.346724

[1000 rows x 4 columns]

In [10]:
df[df['cgpa_zscore'] > 3]

     cgpa  placement_exam_marks  placed  cgpa_zscore
995  8.87                  44.0       1     3.099150
996  9.12                  65.0       1     3.505062

In [11]:
df[df['cgpa_zscore'] < -3]

     cgpa  placement_exam_marks  placed  cgpa_zscore
485  4.92                  44.0       1    -3.314251
997  4.89                  34.0       0    -3.362960
999  4.90                  10.0       1    -3.346724

In [12]:
# Trimming


new_df = df[(df['cgpa_zscore'] < 3) & (df['cgpa_zscore'] > -3)]

In [13]:
new_df

     cgpa  placement_exam_marks  placed  cgpa_zscore
0    7.19                  26.0       1     0.371425
1    7.46                  38.0       1     0.809810
2    7.54                  40.0       1     0.939701
3    6.42                   8.0       1    -0.878782
4    7.23                  17.0       0     0.436371
..    ...                   ...     ...          ...
991  7.04                  57.0       0     0.127878
992  6.26                  12.0       0    -1.138565
993  6.73                  21.0       1    -0.375452
994  6.48                  63.0       0    -0.781363
998  8.62                  46.0       1     2.693239

[995 rows x 4 columns]

# Capping

In [14]:
upper_limit = df['cgpa'].mean() + 3*df['cgpa'].std()
lower_limit = df['cgpa'].mean() - 3*df['cgpa'].std()

In [15]:
upper_limit

8.808933625397177

In [16]:
lower_limit

5.113546374602842

In [17]:
df['cgpa'] = np.where(df['cgpa'] > upper_limit, upper_limit, np.where(df['cgpa'] < lower_limit, lower_limit, df['cgpa']))

In [18]:
df.shape

(1000, 4)

In [19]:
df['cgpa'].describe()

count    1000.000000
mean        6.961499
std         0.612688
min         5.113546
25%         6.550000
50%         6.960000
75%         7.370000
max         8.808934
Name: cgpa, dtype: float64