In [1]:

print("Hello WORLD")

Hello WORLD

In [2]:
HELL0 = "wORLD"
print("HELLO")

HELLO

In [1]:
# comment


# hii,how are you

In [1]:
for(i = 0; i <= 5;i++)
    for(j = 0 ; j <= i ; j++)
        print("*")

SyntaxError: invalid syntax (Temp/ipykernel_11396/2491980950.py, line 1)

In [5]:
def aaru(n):
    for i in range (0,6):
        for j in range(0, i + 1):
            print("*", end = " ")
        print("\r")
#n = 5
aaru(n)

*
* *
* * *
* * * *
* * * * *
* * * * * *

# String

In [2]:
x = "hello world"
print(x)
print(type(x))
print(len(x))

hello world
<class 'str'>
11

In [4]:
X = """"
aaru
menu
janu"""
print(X)
print(type(x))

"
aaru
menu
janu
<class 'str'>

# INEX/ACCESS

In [5]:
x = "hello world"
print(x[0])
print(x[4])

h
o

In [6]:
print(x[1:3])

el

In [13]:
print(x[:6])

JAIN A

In [14]:
print(x[3:])

N AARIKA

In [16]:
x = "JAIN AARIKA"
print(x[-5:-1])

ARIK

In [17]:
print(x[-4:])

RIKA

In [18]:
x

'JAIN AARIKA'

In [19]:
print(x[::2])

JI AIA

In [16]:
x = "hello"
# y = x.index('1')
print(x.replace('he','aari'))
# print(y)

aarillo

In [20]:
print(x[::-2])

AIA IJ

In [18]:
x = "hello"
y = x.index('l')
print(y)

2

# Loop

In [ ]:
for, while

x='Vishw Prajapati'
print(x)

In [1]:
x='Vishw Prajapati'
print(x)

Vishw Prajapati

In [13]:
x="Vishw Prajapati"
#for i in x:
print(x)
print("\t")

Vishw Prajapati

In [21]:
x = 'hello world'
i = 0
while i <  len(x):     # 1 < 11
    print(x[i])        #   9
    i = i+1            # 1+1

h
e
l
l
o

w
o
r
l
d

In [1]:
x=[1,2,3]
print(type(x))

<class 'list'>

In [2]:
x = 100
a = "aarika jain {}"
print(a.format(x))

aarika jain 100

In [24]:
x = 100
y = 25
z = 35
a = "aaru {} jainu {} meenu {} "
print(a.format(x,y,z))
print(a.format(y,x,z))
b = "aarika {1} jain {0} meenu {2} "
print(b.format(x,y,z))

aaru 100 jainu 25 meenu 35
aaru 25 jainu 100 meenu 35
aarika 25 jain 100 meenu 35

In [26]:
def aau(n):
    for i in range(0,n):
        for j in range(0,i+1):
            print("*", end = " ")
        print("\r")
        
# n = 6
aau(n)
n = 9
# n = 6

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * *

In [19]:
n = 7

In [23]:
x = "hello, this is aaru jain studying IT Engineering."
y = x.split()
print(y)
print(y[4])

['hello,', 'this', 'is', 'aaru', 'jain', 'studying', 'IT', 'Engineering.']
jain

# Operators

arithmetic
assignment
logical
membership
identity
comparison

In [27]:
# arithmetic +,-,*,/,%,**,//

In [28]:
x=10
y=30
print(x+y)

40

In [29]:
print(x-y)

-20

In [30]:
print(x**y)

1000000000000000000000000000000

In [31]:
print(x//y)

0

In [32]:
print(x%y)

10

In [33]:
# assignment +,-,*,/,%,**,//

In [34]:
x=10
x+=25
print(x)

35

In [35]:
x-=6
x

29

In [39]:
x=3
x*=4
x

12

In [40]:
# identity is , is not

In [41]:
x=20
y=30
z=x
print(x is y)

False

In [42]:
print(x is z )

True

In [43]:
print(x is not y)

True

In [44]:
# logical and, or

In [45]:
x=10
y=20
print(x<y and x>y)

False

In [46]:
print(x>y or x<y)

True

In [47]:
# comparison <,>,==,!=,<=,>=

In [48]:
x=2
y=3
print(x>y)

False

In [49]:
x=23
y=23
print(x<=y)

True

In [50]:
print(x>=y)

True

In [51]:
print(x!=y)

False

In [52]:
# membership in, not in

In [55]:
x='Hello'
print("H" in x)

True

In [58]:
x='hello'
print(x.replace('o','h'))

hellh

# list

In [1]:
x = ['apple',1,1.4,1+4j,True]
x

['apple', 1, 1.4, (1+4j), True]

In [2]:
print(type(x))

<class 'list'>

In [3]:
print(len(x))

5

In [4]:
print(1.4 in x)

True

In [5]:
# access/ index

In [3]:
s = "Hello. How are you?"
print(s[2:7])

llo.

In [4]:
x = [10,20,30,40,50,60,70,80,90]
print(x[0])
print(x[1])
print(x[-1])
print(x[2:6])
print(x[:6])
print(x[5:])
print(x[-6:-1])
print(x[-6:])
print(x[:-5])
print(x[::2])
print(x[::3])
print(x[::-1])

10
20
90
[30, 40, 50, 60]
[10, 20, 30, 40, 50, 60]
[60, 70, 80, 90]
[40, 50, 60, 70, 80]
[40, 50, 60, 70, 80, 90]
[10, 20, 30, 40]
[10, 30, 50, 70, 90]
[10, 40, 70]
[90, 80, 70, 60, 50, 40, 30, 20, 10]

In [18]:
# change

In [19]:
x = [10,20,30,40,50,60]
x[0] =  100
x

[100, 20, 30, 40, 50, 60]

In [23]:
x = [10,20,30,40,50,60]
x[2] = [100,200,300]
x

[10, 20, [100, 200, 300], 40, 50, 60]

In [24]:
x = [10,20,30,40,50,60]
x[2:4] = [100,200]
x

[10, 20, 100, 200, 50, 60]

In [25]:
# add : append,insert,extend

In [26]:
x = [10,20,30,40,50,60]
x.append(100)
x

[10, 20, 30, 40, 50, 60, 100]

In [27]:
x = [10,20,30,40,50,60]
x.insert(3,199)
x

[10, 20, 30, 199, 40, 50, 60]

In [29]:
x = [10,20,30,40,50,60]
y = [70,80,90]
y.extend(x)
y

[70, 80, 90, 10, 20, 30, 40, 50, 60]

In [30]:
# remove : remove,pop,clear,del

In [31]:
x = [10,20,30,40,50,60]
x.remove(30)
x

[10, 20, 40, 50, 60]

In [32]:
x = [10,20,30,40,50,60]
x.pop(0)
x

[20, 30, 40, 50, 60]

In [3]:
x = [10,20,30,40,50,60]
x.pop()
print(x)
x.clear()
print(x)

[10, 20, 30, 40, 50]
[]

In [34]:
x = [10,20,30,40,50,60]
del x[0]
x

[20, 30, 40, 50, 60]

In [1]:
x = [10,20,30,40,50,60]
del x
x

NameError: name 'x' is not defined

In [36]:
x = [10,20,30,40,50,60]
x.clear()
x

[]

In [37]:
x.append(100)
x

[100]

In [40]:
x = [10,20,30,40,50,60]
y = [70,80,90]
print(x+y)
print(x,y)

[10, 20, 30, 40, 50, 60, 70, 80, 90]
[10, 20, 30, 40, 50, 60] [70, 80, 90]

In [41]:
x = [10,20,30,40,50,60,10,10,10,10,10]
print(x.count(10))

6

In [42]:
x = [10,20,30,40,50,60]
print(x.index(30))

2

In [43]:
x = [10,20,30,40,50,60]
y = x.copy()
y

[10, 20, 30, 40, 50, 60]

In [44]:
x = [10,60,30,20,80,90,70,50]
x.sort()
x

[10, 20, 30, 50, 60, 70, 80, 90]

In [45]:
x = [10,60,30,20,80,90,70,50]
x.sort(reverse = True)
x

[90, 80, 70, 60, 50, 30, 20, 10]

In [46]:
x = [10,60,30,20,80,90,70,50]
x.reverse()
x

[50, 70, 90, 80, 20, 30, 60, 10]

In [10]:
x = [10,20]
y = [30,40]
z = [50,60]
t = []
#[10,20,30,40,50,60]
i = 0

# Tuple

In [3]:
x = ('apple', 23,8.9,True)
print(type(x))
print(len(x))
print(1,3 in x)

x

<class 'tuple'>
4
1 False

('apple', 23, 8.9, True)

In [ ]:
#access/index

In [6]:
x =(10,20,30,40,50,60)
print(x[2:6])
print(x[-2:6])
print(x[:2])
print(x[3:])

(30, 40, 50, 60)
(50, 60)
(10, 20)
(40, 50, 60)

In [9]:
#add and change
x =(10,20,30,40,50,60)
y = list(x)
y.append(100)
x = tuple(y)
x

(10, 20, 30, 40, 50, 60, 100)

In [10]:
x =(10,20,30,40,50,60)
y = list(x)
y[0] = 100
x = tuple(y)
x

(100, 20, 30, 40, 50, 60)

In [11]:
x =(10,20,30,40,50,60)
y = list(x)
y[1:3] = [100,200]
x = tuple(y)
x

(10, 100, 200, 40, 50, 60)

In [12]:
x = (10,20,30,40)
y = {50,60,70}
z = list(x)
z.extend(y)
x = tuple(z)
x

(10, 20, 30, 40, 50, 60, 70)

In [13]:
#remove : remove,pop,del,clear

In [15]:
x = (10,20,30,40)
y = list(x)
y.remove(x[1])
x = tuple(y)
x

(10, 30, 40)

In [16]:
x = (10,20,30,40)
y = list(x)
y.pop()
x = tuple(y)
x

(10, 20, 30)

In [17]:
x = (10,20,30,40)
y = list(x)
y.clear()
x = tuple(y)
x

()

In [21]:
x = (10,20,30,40)
y = list(x)
del y[0]
x = tuple(y)
x

(20, 30, 40)

In [23]:
#unpack

In [24]:
x = (10,20,30)
a,b,c=x
print(a)
print(b)
print(c)

10
20
30

In [26]:
x = (10,20,30,40,50)
a,b,*c=x
print(a)
print(b)
print(c)

10
20
[30, 40, 50]

In [27]:
#loop

In [29]:
x =(10,20,30,40,50,60,70)

for i in x:
    print(i)

10
20
30
40
50
60
70

In [1]:
x =(10,20,30,40,50,60,70)

i=0
while i < len(x):
    print(x[i])
    i = i + 1

10
20
30
40
50
60
70

In [2]:
#join

In [3]:
x = (10,20,30)
y = (40,50,60)
print(x+y)

(10, 20, 30, 40, 50, 60)

In [4]:
#range

In [5]:
for i in range (0,7):
    print(i**2)

0
1
4
9
16
25
36

# Set

In [1]:
x = {1,2,3,4,5,6}
x

{1, 2, 3, 4, 5, 6}

In [2]:
print(len(x))

6

In [3]:
print(type(x))

<class 'set'>

In [7]:
x = {4,2,4,4,2,4,5,3,4}
x

{2, 3, 4, 5}

In [8]:
# add : add , update

In [10]:
x = {12,43,56,45,32,89,54}
x.add(45)
x

{12, 32, 43, 45, 54, 56, 89}

In [12]:
x = {10,20,30,40}
y = {70,90,80,50}
x.update(y)
x

{10, 20, 30, 40, 50, 70, 80, 90}

In [13]:
x = {10,20,30,40}
y = {70,90,80,50}
z = x.union(y)
z

{10, 20, 30, 40, 50, 70, 80, 90}

In [14]:
#remove : remove, discard,clear

In [15]:
x = {12,34,21,56,78}
x.discard(21)
x

{12, 34, 56, 78}

In [16]:
x = {12,34,21,56,78}
x.remove(21)
x

{12, 34, 56, 78}

In [18]:
x = {12,34,21,56,78}
x.clear()
x

set()

In [19]:
#loop : for

In [20]:
x = {12,34,21,56,43,78}
for i in x:
    print(i)

34
21
56
43
12
78

In [21]:
y = []
for i in x:
    if i % 2==0:
        
        y.append(i)
print(set(y))

{56, 34, 12, 78}

In [22]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
z = a.difference(b)
z

{1, 2, 3}

In [23]:
b.difference_update(a)
b

{6, 7, 8}

In [24]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
z = a.intersection(b)
z

{4, 5}

In [25]:
b.intersection_update(a)
b

{4, 5}

In [26]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
z = a.symmetric_difference(b)
z

{1, 2, 3, 6, 7, 8}

In [27]:
x = {1,2,3}
y = {1,2,3,4,5,6}
z = x.issubset(y)
z

True

In [28]:
x = {1,2,3}
y = {1,2,3,4,5,6}
z = x.issuperset(y)
z

False

In [29]:
x = {1,2,3}
y = {1,2,3,4,5,6}
z = x.union(y)
z

{1, 2, 3, 4, 5, 6}

TypeError: unsupported operand type(s) for ** or pow(): 'range' and 'int'

In [16]:
n=int(input("Input a number "))
d = dict()

for x in range(1,n+1):
    d[x]=x*x

print(d)

Input a number 16
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256}

In [18]:
x = {}
for i in range(1,16):
    x[i] = i**2
print(x)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [7]:
x = {}
# y = []
# y = {}
for i in range(1,16):
    x[i] = i**2
#     for i,x[i] in dict.items():
#         temp = [i,x[i]]
#         dictlist.append(temp)
    
print(x)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [14]:
# for x,x[i] in dict.items()
# [(x,x[i]) for x,x[i] in dict.items()]
y = list(dict.items(x))
y

[(1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81),
 (10, 100),
 (11, 121),
 (12, 144),
 (13, 169),
 (14, 196),
 (15, 225)]

In [27]:
print(y[:5]) 
print(y[10:])
# x = index(y[:5])
# z = index(y[10:])
# x.extend(z)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]
[(11, 121), (12, 144), (13, 169), (14, 196), (15, 225)]

# IF / ELSE IF

In [3]:
x = int(input("Enter a number:"))
if x<2:
    print('y')
else:
    print('n')

Enter a number:6
n

In [5]:
x = int(input("Enter a number:"))
if x<2:
    print('y')
elif x>5:
    print('yy')
else:
    print('n')

Enter a number:6
yy

In [8]:
x = int(input("Enter a number:"))
if x<2:
    print('y')
elif x>15:
    print('yy')
elif x<=10:
    print('yyy')
else:
    print('n')

Enter a number:8
yyy

In [10]:
x = int(input("Enter a number:"))

if x>20 or x>3 or x>=20:
    print('y')
else:
    print('n')

Enter a number:15
y

In [11]:
x = int(input("Enter a number:"))
if x<20:
    if x<5:
        print('y')
    else:
        print('n')

Enter a number:4
y

In [12]:
x = int(input("Enter a number:"))
if x<20:
    print('yy')
    if x>5:
        print('y')
    else:
        print('n')
else:
    print('nn')

Enter a number:11
yy
y

In [1]:
x = "The quick brown fox jumps over the lazy dog"
y = x.split()
for i in y:
    if len(i)>4:
        print(i)

quick
brown
jumps

# LOOP

In [2]:
i  = 3

while i <= 10:
    print(i)
    i = i + 1

3
4
5
6
7
8
9
10

In [3]:
i = 1

while i < 10:
    print(i)
    if i == 5:
        break
    i = i + 1

1
2
3
4
5

In [4]:
i = 1

while i < 10:
    i = i + 1
    if i == 5:
        continue
    print(i)
else:
    print('yes')

2
3
4
6
7
8
9
10
yes

In [1]:
x = [10,20,30,40,50,60]

for i in x:
    print(i)

10
20
30
40
50
60

In [2]:
x = [10,20,30,40,50,60]

y = [i for i in x]
y

[10, 20, 30, 40, 50, 60]

In [3]:
x = ['apple','banana','cherry','kiwi','orange']

y = [i.upper() for i in x]
y

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'ORANGE']

In [4]:
y = [i for i in range(1,20) if i%2 ==0]
y

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [5]:
x = ['apple','banana','cherry','kiwi']

y = [i if i!='apple' else 'orange' for i in x]
y

['orange', 'banana', 'cherry', 'kiwi']

In [ ]:
y = [i for i in range(1,30) if i%2 ==0 and i%5==0]
hhhhhy

# function

In [1]:
def myfun1():
    x  = 10
    y  = 20
    z = x + y
    print(z)

In [2]:
myfun1()

30

In [7]:
def myfun2(x,y):
    print(x+y)

In [8]:
myfun2(5,9)

14

In [7]:
def myfun3():
    x = [1,2,3]
    y = [10,20,30]
    for i in x:
        for j in y:
            print(i,j)
myfun3()

1 10
1 20
1 30
2 10
2 20
2 30
3 10
3 20
3 30

In [10]:
#local
def myfun4():
    xyz = 100
    print(xyz)
myfun4()
print(xyz)

100

NameError: name 'xyz' is not defined

In [11]:
#global
x = 200
def myfun5():
    print(x)
myfun5()
print(x)

200
200

In [13]:
aaa = 1000000000
def myfun6():
    print(aaa)
myfun6()

1000000000

In [14]:
x = 10
def myfun7():
    x = 20
    print(x)
    print(x)
myfun7()
print(x)
print(x)

20
20
10
10

In [15]:
x = 10
x = 20
print(x)
print(x)

20
20

In [16]:
def myfun8():
    global oo
    oo = 900
    print(oo)
myfun8()
print(oo)

900
900

In [4]:
x=10

def mqyqb():
    x=20
    print(x)
    print(x)
    
mqyqb() 
print(x)
print(x)

20
20
10
10

In [8]:
myfun3()

1 10
1 20
1 30
2 10
2 20
2 30
3 10
3 20
3 30

# Class

In [7]:
class Myclass1():
    x = 10
    y =20
    z =30
    
a = Myclass1()
print(a.x)
print(a.y)
print(a.z)

10
20
30

In [8]:
class Myclass2:
    
    def __init__(self,x,y):
        self.X = x
        self.Y = y
        
    def add(self):
        print(self.X+self.Y)
       
    def sub(self):
        print(self.X - self.Y)
        
    def mul(self):
        print(self.X * self.Y)
        
    def div(self):
        print(self.X/self.Y)
        
aa = Myclass2(10,20)
aa.add()
aa.sub()
aa.mul()
aa.div()

30
-10
200
0.5

In [9]:
class Myclass3:
    
    def __init__(self,name,age):
        self.N = name
        self.A = age
        
    def myfunc1(self):
        print('fhfhffhif',self.N ,'fihfioi',self.A)
        
aaa = Myclass3('Arpan',26)
aaa.myfunc1()

fhfhffhif Arpan fihfioi 26

In [10]:
class Rrr:
    def __init__(self,x,y):
        self.X = x
        self.Y = y
        
    def myfun10(self):
        for i in (self.X,self.Y,8):
            i = i+1
            print(i**2)
aa = Rrr(4,2)
aa.myfun10()

25
9
81

In [6]:
class Myclass5:
    
    def __init__(self,x,y):
        self.X = x
        self.Y = y
        
    def add(self):
        print(self.X+self.Y)
       
    def sub(self):
        print(self.X - self.Y)
        
class Myclass6(Myclass5):
    pass

In [7]:
a = Myclass6(23,34)
a.add()

57

In [1]:
class Myclass7:
    def __init__(self,x,y):
        self.X = x
        self.Y = y
        
    def add1(self):
        print(self.X+self.Y)
        
    def sub2(self):
        print(self.X-self.Y)
        
class Myclass8(Myclass7):
    def __init__(self,x,y):
        super().__init__(x,y)
        
    def mul(self):
        print(self.X*self.Y)
        
    def div(self):
        print(self.X/self.Y)

In [3]:
aa = Myclass8(20,45)
aa.mul()

900

# lambda

In [1]:
x = lambda a : a+10

In [2]:
print(x(15))

25

In [3]:
x = lambda a,b: a+b

In [4]:
print(x(10,20))

30

In [6]:
x = lambda  a,b,c,d:a+b-c*d

In [7]:
print(x(1,2,3,4))

-9

In [8]:
def myf(n):
    return lambda a: n*a

In [9]:
x = myf(3)
print(x(10))

30

# scope

In [1]:
# local 


def my():
    a = 10
    print(a)
my()

10

In [2]:
x = 20

def myfunc():
    x = 30
    print(x)
myfunc()
print(x)

30
20

In [3]:
x = 20

def myfunc():
    print(x)
myfunc()
print(x)

20
20

In [4]:
def myfunc():
    global x
    x = 100
    print(x)
myfunc()
print(x)

100
100

In [6]:
import datetime
x = datetime.datetime.now()
print(x.strftime("%c"))

Tue Aug  2 16:21:45 2022