In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
d = pd.read_csv("Salary_Data.csv")
d

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [11]:
x = d.iloc[::-1].values
y = d.iloc[:-1].values
x

array([[1.05000e+01, 1.21872e+05],
       [1.03000e+01, 1.22391e+05],
       [9.60000e+00, 1.12635e+05],
       [9.50000e+00, 1.16969e+05],
       [9.00000e+00, 1.05582e+05],
       [8.70000e+00, 1.09431e+05],
       [8.20000e+00, 1.13812e+05],
       [7.90000e+00, 1.01302e+05],
       [7.10000e+00, 9.82730e+04],
       [6.80000e+00, 9.17380e+04],
       [6.00000e+00, 9.39400e+04],
       [5.90000e+00, 8.13630e+04],
       [5.30000e+00, 8.30880e+04],
       [5.10000e+00, 6.60290e+04],
       [4.90000e+00, 6.79380e+04],
       [4.50000e+00, 6.11110e+04],
       [4.10000e+00, 5.70810e+04],
       [4.00000e+00, 5.69570e+04],
       [4.00000e+00, 5.57940e+04],
       [3.90000e+00, 6.32180e+04],
       [3.70000e+00, 5.71890e+04],
       [3.20000e+00, 6.44450e+04],
       [3.20000e+00, 5.44450e+04],
       [3.00000e+00, 6.01500e+04],
       [2.90000e+00, 5.66420e+04],
       [2.20000e+00, 3.98910e+04],
       [2.00000e+00, 4.35250e+04],
       [1.50000e+00, 3.77310e+04],
       [1.30000e+00, 4.62050e+04],
       [1.10000e+00, 3.93430e+04]])

In [12]:
y

array([[1.10000e+00, 3.93430e+04],
       [1.30000e+00, 4.62050e+04],
       [1.50000e+00, 3.77310e+04],
       [2.00000e+00, 4.35250e+04],
       [2.20000e+00, 3.98910e+04],
       [2.90000e+00, 5.66420e+04],
       [3.00000e+00, 6.01500e+04],
       [3.20000e+00, 5.44450e+04],
       [3.20000e+00, 6.44450e+04],
       [3.70000e+00, 5.71890e+04],
       [3.90000e+00, 6.32180e+04],
       [4.00000e+00, 5.57940e+04],
       [4.00000e+00, 5.69570e+04],
       [4.10000e+00, 5.70810e+04],
       [4.50000e+00, 6.11110e+04],
       [4.90000e+00, 6.79380e+04],
       [5.10000e+00, 6.60290e+04],
       [5.30000e+00, 8.30880e+04],
       [5.90000e+00, 8.13630e+04],
       [6.00000e+00, 9.39400e+04],
       [6.80000e+00, 9.17380e+04],
       [7.10000e+00, 9.82730e+04],
       [7.90000e+00, 1.01302e+05],
       [8.20000e+00, 1.13812e+05],
       [8.70000e+00, 1.09431e+05],
       [9.00000e+00, 1.05582e+05],
       [9.50000e+00, 1.16969e+05],
       [9.60000e+00, 1.12635e+05],
       [1.03000e+01, 1.22391e+05]])

In [14]:
import numpy as np
np.__version__

'1.24.2'

In [18]:
x = np.random.randint(10,size=(3,4,5))
x

array([[[7, 0, 2, 6, 6],
        [5, 9, 8, 2, 4],
        [6, 1, 2, 2, 0],
        [5, 5, 7, 5, 6]],

       [[8, 1, 1, 0, 0],
        [6, 2, 7, 3, 4],
        [8, 9, 6, 0, 5],
        [8, 2, 6, 8, 7]],

       [[2, 7, 1, 1, 3],
        [8, 2, 0, 8, 4],
        [3, 4, 4, 0, 3],
        [9, 5, 3, 3, 4]]])

In [20]:
x.shape

(3, 4, 5)

In [21]:
x.size

60